/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

ul {
  list-style: none;
}
/******************************************
/* BASE STYLES
/*******************************************/

body {
background-color: #eee;
margin: auto;
}

img {
  width: 60%;
}


.container {
  width: 90%;
  margin: auto;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  border: lightblue 1q;
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}





.aButton {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.aButton:hover,
.aButton:active {
  outline: 0;
}

.aButton:hover {
  background-color: transparent;
  cursor: pointer;
}

.aButton:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.aButton:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .aButton {
    padding: 16px 32px;
  }
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
