/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/css/fontface/ClashDisplay-Regular.woff2') format('woff2'),
    url('/css/fontface/ClashDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/css/fontface/ClashDisplay-Bold.woff2') format('woff2'),
    url('/css/fontface/ClashDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/css/fontface/ClashDisplay-Extralight.woff2') format('woff2'),
    url('/css/fontface/ClashDisplay-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/css/fontface/ClashDisplay-Medium.woff2') format('woff2'),
    url('/css/fontface/ClashDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/css/fontface/ClashDisplay-Light.woff2') format('woff2'),
    url('/css/fontface/ClashDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/css/fontface/ClashDisplay-Semibold.woff2') format('woff2'),
    url('/css/fontface/ClashDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
background-color: #eee;
margin: auto;
text-align: center;
font-family: 'Clash Display';
}

img {
  width: 60%;
  
}

.dis {
animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.container {
  width: 90%;
  margin: auto;
  align-content: center;
  
}

input {
  font-size: 1.7rem;
  font-family: 'Clash Display';
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  border: lightblue 1q;
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}





.aButton {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.aButton:hover,
.aButton:active {
  outline: 0;
}

.aButton:hover {
  background-color: transparent;
  cursor: pointer;
}

.aButton:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.aButton:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .aButton {
    padding: 16px 32px;
  }
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
