/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

a {
  color: #00132C;
  text-decoration: dotted;
}
.clear {
	clear: both;
}

ul {
  list-style: none;
}


@font-face {
  font-family: 'Clash Display';
  src: url('/css/fontface/ClashDisplay-Regular.woff2') format('woff2'),
    url('/css/fontface/ClashDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/css/fontface/ClashDisplay-Bold.woff2') format('woff2'),
    url('/css/fontface/ClashDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/css/fontface/ClashDisplay-Extralight.woff2') format('woff2'),
    url('/css/fontface/ClashDisplay-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/css/fontface/ClashDisplay-Medium.woff2') format('woff2'),
    url('/css/fontface/ClashDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/css/fontface/ClashDisplay-Light.woff2') format('woff2'),
    url('/css/fontface/ClashDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/css/fontface/ClashDisplay-Semibold.woff2') format('woff2'),
    url('/css/fontface/ClashDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
background-color: #eee;
margin: auto;
text-align: center;
font-family: 'Clash Display';
}

img {
  width: 60%;
  
}

.dis {
animation: fadeIn 2s;
  opacity: 1;
  max-width: 40vh;
  position: relative;
    overflow: hidden;
    background-color: #eee;
    border-radius: 5px;
    z-index: 2;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      transition: all 0.5s;
      box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
}

.dis:hover{
  transform: scale(1.5);
  margin-top: 13em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.container {
  width: 90%;
  margin: auto;
  align-content: center;
  
}

input {
  font-size: 1.4rem;
  font-family: 'Clash Display';
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  border: lightblue 1q;
}
/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}





.aButton {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.aButton:hover,
.aButton:active {
  outline: 0;
}

.aButton:hover {
  background-color: transparent;
  cursor: pointer;
}

.aButton:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.aButton:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .aButton {
    padding: 16px 32px;
  }
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.arrow {
  filter: grayscale(100%);
  font-size: 2em;
}

.arrow-cont:active{
  animation: rotate-center 0.2s
  
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.slide{

  position: relative;
    width: 700px;
    min-height:400px;
    margin: auto;
    color: #eee;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}


.shown {
    -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      transition-delay: 1s;
      -webkit-transition-delay: 1s;
      -o-transition-delay: 1s;
      transition-delay: 1s;
   animation: blur-in 1s linear both ;
   display: block;
}

@keyframes blur-in {
  0% {
    filter: blur(12px);
    opacity: 0
  }

  100% {
    filter: blur(0);
    opacity: 1 ;
    
  }
} 


.hiddenCont {
  
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
  animation: blur-out 0.4s linear both
  }
  
  @keyframes blur-out {
    0% {
      filter: blur(.01px);
    }
  
    100% {
      filter: blur(12px);
      opacity: 0;
      display: none;
    }
  }
.slide-active>.info {
  width: 100%;
 height: 100%;
  z-index: 1;
  box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2);
}

.slide-active {
  width: 100%;
}

.info {
  position: absolute;
    width: 0px;
    top: 50;
    background-color: #00132C;
    height: 0px;
    border-radius: 5px;
    z-index: 3;
    box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

/* footer */

footer {
  text-align: center;
}

.footer-link *{
  display: flex;
  justify-content: center;
  margin: 0.5em;
  margin-left:-10px ;
}

.list-inline {
  margin-left: -14px;
}

.list-inline * {
  display: flex;
  text-align: center;
  margin: auto;
  padding: 0.2em;
 
}